.Login-page {
  display: flex;
  background-color: white;
}
.right-11 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
.left-11 {
  display: flex;
  background-color: #0e0e0e;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: xx-large;
  font-weight: bolder;
  color: #eaeae7;
  height: 100vh;
}

.top-1 {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.apple-btn {
  font-size: larger;
  height: 38px;
  background-color: white;
  border: 1px solid #ccccbc;
  border-radius: 3px;
}

.Register {
  width: 400px;
}
